<footer
  class="w-[calc(100%-2rem)] border-t border-gray-700 py-4 px-6 text-sm bg-navbar-bg text-gray-500 flex justify-between items-center rounded-full mb-3"
>
  <span>Desarrollado con Astro y TailwindCSS.</span>
  <span class="ml-auto text-right">
    Javier Hernández Martínez - Publicado con Licencia MIT.
  </span>
</footer>
