<footer
  class="w-full border-t border-gray-700 py-4 px-6 text-sm bg-navbar-bg text-gray-500 flex justify-center lg:justify-between items-center rounded-full"
>
  <span class="hidden lg:block">Desarrollado con Astro y TailwindCSS.</span>
  <span class="ml-auto lg:text-right">
    Javier Hernández Martínez - Publicado con Licencia MIT.
  </span>
</footer>
