---
import { navbarItems } from "@/data/navbar.ts";
---

<nav
  class="fixed left-1/2 -translate-x-1/2 bg-navbar-bg rounded-full p-3 text-navbar-text font-bold z-9999"
>
  <ul class="flex flex-row gap-x-3 items-center justifiy-center">
    {
      navbarItems.map((item) => (
        <li class="hover:text-gray-300">
          <a href={`#${item.id}`}>{item.label}</a>
        </li>
      ))
    }
  </ul>
</nav>
