---
import ProfilePic from "./ProfilePic.astro";
import SocialPill from "./SocialPill.astro";
import { socials } from "@/data/socials";
---

<section
  id="overview"
  class="flex flex-col gap-y-10 items-center justify-center max-w-3xl"
>
  <article class="flex flex-col lg:flex-row items-center gap-x-5">
    <ProfilePic />

    <div class="text-center px-2">
      <h2 class="title blueunderline pt-2 inline-block">Sobre mí</h2>
      <p class="font-medium text-lg text-pretty pt-3">
        Soy <strong>Javier Hernández Martínez</strong>, un (futuro) ingeniero de
        software y desarrollador Full Stack.<br />Estudio Ingeniería Informática
        en la <a
          href="https://udc.es/"
          class="text-udc underline visited:text-udc">Universidad de A Coruña</a
        >.
      </p>

      <section
        class="flex flex-row items-center justify-center lg:justify-end gap-x-7 pt-3"
      >
        {socials.map((item) => <SocialPill social={item} />)}
      </section>
    </div>
  </article>

  <article class="flex flex-col items-center">
    <h2 class="subtitle blueunderline inline-block">Cronología</h2>
    <ul>
      <li class="overviewli">
        <span class="overviewyear">Hoy</span>
        <span>Sigo aprendiendo y desarrollando nuevas aplicaciones.</span>
      </li>

      <li class="overviewli">
        <span class="overviewyear">2025</span>
        <span
          >Empecé a aprender sobre desarrollo de software y a especializarme.
          Aprendí manejo de BD, Frontend y muchos más conceptos importantes.</span
        >
      </li>

      <li class="overviewli">
        <span class="overviewyear">2022</span>
        <span
          >Comencé en el mundo de la informática. Aprendiendo C, Java, Python y
          lo básico de la programación.</span
        >
      </li>
    </ul>
  </article>
</section>
