---
import ProfilePic from "./ProfilePic.astro";
---

<section
  id="overview"
  class="flex flex-col items-center justify-center max-w-2xl"
>
  <ProfilePic />

  <h2 class="title blueunderline pt-2">Sobre mí</h2>
  <div class="pt-3 text-center px-2">
    <p class="font-medium text-lg text-pretty">
      Soy <strong>Javier Hernández Martínez</strong>, un (futuro) ingeniero de
      software y desarrollador Full Stack.<br />Estudio Ingeniería Informática
      en la <a
        href="https://udc.es/"
        class="text-udc underline visited:text-udc">Universidad de A Coruña</a
      >.
    </p>
  </div>

  <h2 class="title blueunderline pt-10">Cronología</h2>
  <ul>
    <li class="overviewli">
      <span class="overviewyear">Hoy</span>
      <span>Sigo aprendiendo y desarrollando nuevas aplicaciones.</span>
    </li>

    <li class="overviewli">
      <span class="overviewyear">2025</span>
      <span
        >Empecé a aprender sobre desarrollo de software y a especializarme.
        Aprendí manejo de BD, Frontend y muchos más conceptos importantes.</span
      >
    </li>

    <li class="overviewli">
      <span class="overviewyear">2022</span>
      <span
        >Comencé en el mundo de la informática. Aprendiendo C, Java, Python y lo
        básico de la programación.</span
      >
    </li>
  </ul>
</section>
