---
import "@/styles/global.css";
import "@fontsource-variable/inter";

import SEO from "@/components/SEO.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<!doctype html>
<html lang="es">
  <SEO
    title="Javier HM - Desarrollador Full Stack"
    description="Portafolio de Javier Hernández Martínez, explora mis proyectos y habilidades."
  />
  <body
    class="flex flex-col items-center pt-15 lg:pt-8 pb-3 gap-y-15 lg:gap-y-8 px-3"
  >
    <Header />
    <main class="flex flex-col items-center gap-y-20 animate-slide-in-bottom">
      <slot />
    </main>
    <Footer />
  </body>
</html>
